*{
    margin: 0;
    padding: 0;
}

body,html{
    width: 100%;
    height: 100%;
    color: aliceblue;
    font-family: monospace;
}

.page1{
    width: 100%;
    height: 100vh;
    background-color: rgb(6, 5, 5);

    display: flex;
    align-items: center;
    justify-content: center;
}

.main-box{
    width: 80vw;
    height: 80vh;
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
}

.photo-box{
    width: 60vh;
    height: 60vh;
    /* background-color: red; */
    /* margin-right: 20vh; */
    
}

.quote{
    width: 40vw;
    height: 50vh;
    /* background-color: rgb(88, 38, 38); */

    display: flex;
    align-items: center;
    justify-content: center;
}

.one{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#h{
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: 4px;

}

#r{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px; 
  }
  

